@mixin clearfix {
	&:before, &:after {
	    content: "";
	    display: table;
	}
	&:after {
	    clear: both;
	}
}
// *{
//     box-sizing: border-box;
//     margin: 0;
//     padding: 0;
//     text-align: center;
// }

// @for $i from 1 through 6 
// {
//     .hed-#{$i}
//     {
//         width: 12.5%;
//         // @if $i%2==0 {
//         //     width:10%;
//         // }
//         // @else {width: 10%;}
//     }
// }
// .hed-7{
//     width: 20%;
// }
// .hed-8{
//     width: 5%;
// }