<table class="table table-striped">
  <thead>
    <tr>
      <!-- <th class="hed1">ID <button class="btn btn-link"><span class="fa fa-sort"></span></button> </th> -->
      <th class="hed2">Name <button class="btn btn-link"><span class="fa fa-sort"></span></button> </th>
      <th class="hed3">Year <button class="btn btn-link"><span class="fa fa-sort"></span></button> </th>
      <th class="hed4">Grapes <button class="btn btn-link"><span class="fa fa-sort"></span></button> </th>
      <th class="hed5">Country <button class="btn btn-link"><span class="fa fa-sort"></span></button> </th>
      <th class="hed6">Region <button class="btn btn-link"><span class="fa fa-sort"></span></button> </th>
      <th class="hed6">  </th>
      <th class="hed6">  </th>
      <!-- <th class="hed7">Description<button class="btn btn-link"><span class="fa fa-sort"></span></button> </th> -->
      <!-- <th class="hed8">Pičkur<button class="btn btn-link"><span class="fa fa-sort"></span></button> </th> -->
      <!-- Dodao sam dva prazna th elementa da bi dovršio liniju koju th elementi prave u butstrepovoj klasi -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let x of Vina">
      <!-- <td>{{x._id}}</td> -->
      <td>{{x.name}}</td>
      <td>{{x.year}}</td>
      <td>{{x.grapes}}</td>
      <td>{{x.country}}</td>
      <td>{{x.region}}</td>
      <td> <button class="btn btn-link" (click)="callDelete(x._id)"><span class="fa fa-remove"></span></button> </td>
      <td> <button class="btn btn-link" (click)="callEdit(x._id)" ><span class="fa fa-edit"></span></button> </td>
      <!-- <td> <button class="btn btn-link" (click)="callEdit(x.id)" ><span class="fa fa-edit"></span></button> </td> -->
      <!-- Ovo je alternativa za routerLink, ali koja zahteva injekciju rutera u klasi tabele -->
      <!-- Krajnji korisnik ne bi ni na koji način primetio ovu razliku, barem ne neko vreme -->
      <!-- <td>{{x.description}}</td> -->
      <!-- <td>{{x.picture}}</td> -->
      <!-- Na zahtev zadatka, dodao dugmiće za brisanje i izmenu -->
  </tbody>
</table>

<!-- "let x of wines" je zapravo ngFor eksluzivno skraćena sintaksa u kojoj se na nivou bloka koji SAMO angular -->
<!-- vidi i zna izvršava for petlja gde je wine zapravo zamena za wines[i] -->
<!-- klasične for petlje a "i" se i ne vidi i ne štampa-->
<!-- Po želji može da se doda eksplicitno i definiše index tako što se na kraju prvog izraza doda tačka-zarez i u novu promenjivu smesti vrednost index-a (index je default-no ime koje Angular koristi za indeks u petlji) -->
<!-- Nakon ovoga, interpolacijom može da se pristupi celom objektu Vina, tako njegovim delovima, ali ako ima potrebe, može se pristupati i indexu u listi -->
<!-- ngFor se nalazi u tr elementu jer se po tekstu zadatka traži tabelarni prikaz podataka -->
<!-- Da bi se to slagalo, svaki atribut objekta Vino, se posebno interpolira u svom td elementu -->
<!-- i+1 je u interpoliranom izrazu jer svi indeksi u nizovima počinju od nule, a to nama ljudima niti je korisno niti je pregledno -->
<!-- Nama programerima nekad ta nula život znači, ali za konačni proizvod može samo da zbuni korisnika bez ikakve potrebe -->

<!-- Dodavanje servisa APSOLUTNO ništa ne menja ovde-->

<!-- Čak ni dodavanje hostServisa ne menja ovde ništa, ali pošto se zadatak privodi kraju -->
<!-- sklonjene su iz renderovanja ID zaglavlje i podaci -->