<div class="text">
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item"><a class="page-link">Previous</a></li>
      <li class="page-item" *ngFor="let x of nizHtml" (click)="odaberiStranu(x)"><a class="page-link">{{x}}</a></li>
      <li class="page-item"><a class="page-link">Next</a></li>
    </ul>
  </nav>
  </div>


  <!-- (li.page-item>a.page-link{$})*12 -->
  <!-- Šema za ručno generisanje dvanaest li elemenata sa a elementom i odgovarajućim klasama -->
  <!-- <li class="page-item" *ngFor="let x of nizHtml" ><a class="page-link">{{x}}</a></li> -->
  <!-- Šema za angular dinamičko generisanja li elemenata sa elementom na osnovu dužine niza "nizHtml"
  Vidi klasu komponente za detalje -->

      