<div class="text">
  <select name="sel1" id="plimit" (change)="setLimit($event.target.value);">
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
  </select>
</div>
<div class="text">
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item"><a class="page-link" (click)="pageSel(selPage-1)" *ngIf="selPage>1">Previous</a></li>
    <li class="page-item" *ngFor="let x of pages" (click)="pageSel(x)" [ngClass]="{'active': x==selPage}"><a class="page-link">{{x}}</a></li>
    <li class="page-item"><a class="page-link" (click)="pageSel(selPage+1)" *ngIf="selPage<getPageNo()" >Next</a></li>
  </ul>
</nav>
</div>
<!-- PREVIOUS -->
<!-- na događaj "click" poziva se metoda pageSel klase komponente, a za argument joj se prosleđuje atribut selPage iste te klase umanjen za 1 -->
<!-- ngIf je pozvan ne bi li se dinamički sakrio prikaz elementa ako on ne odgovara na uslov sa desne strane jednakosti, pod navodnicima, odnosno ako se korisnik nalazi na prvoj stranici -->


<!-- Current -->
<!-- ngFor se poziva da bi se dinamički određivala HTML struktura, pod pretpostavkom da ne znamo unapred koliko će biti elemenata, ali želimo da u svakom momentu broj opcija odgovara trenutnom stanju prosleđenih argumenata -->
<!-- na događaj "click" poziva se metoda pageSel klase komponente, a za argument joj se prosleđuje trenutna vrednost ngFor indeksa ne bi li na svaki klik pravilno odreagovao sa pravom vrednošću -->
<!-- ngClass se poziva da bi se dinamički postavila klasa elementu, gde je vrednost klase 'active' a provera uslova da je trenutno odabrana strana i baš ta učitana na koju se odreagovalo sa indeksom x -->


<!-- NEXT -->
<!-- na događaj "click" poziva se metoda pageSel klase komponente, a za argument joj se prosleđuje atribut selPage iste te klase uvećan za 1 -->
<!-- ngIf je pozvan ne bi li se dinamički sakrio prikaz elementa ako on ne odgovara na uslov sa desne strane jednakosti, pod navodnicima, odnosno ako se korisnik nalazi na poslednjoj stranici  -->