<div class="text-center">
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item"
      (click)="odaberiStranu(1)"
      *ngIf="odabranaStrana>1"
      ><a class="page-link">First</a></li>
      <li class="page-item"
      (click)="odaberiStranu(odabranaStrana-1)"
      *ngIf="odabranaStrana>1"
      ><a class="page-link">Previous</a></li>
      <li class="page-item"
       *ngFor="let x of nizHtml"
        (click)="odaberiStranu(x)"
        [ngClass]="{'active': x==odabranaStrana}"
        ><a class="page-link">{{x}}</a></li>
      <li class="page-item"><a class="page-link"
        (click)="odaberiStranu(odabranaStrana+1)"
        *ngIf="odabranaStrana<(dobaviBrojStrana())"
        >Next</a></li>
      <li class="page-item"><a class="page-link"
        (click)="odaberiStranu(dobaviBrojStrana())"
        *ngIf="odabranaStrana<(dobaviBrojStrana())"
        >Last</a></li>
    </ul>
  </nav>
  </div>

<div class="text-center">
  <select name="sel1" id="sel1" (change)="promeniBrojElemenataPoStrani($event.target.value)">
      <option primljenBrojElemenataPoStranici
    *ngFor="let x of nizZaHtml(primljenUkupanBrojElemenata)" 
    selected="x=={{primljenUkupanBrojElemenata}}" 
    value={{x}}
    >{{x}}
      </option> 
  </select>
</div>