<nav class="navbar navbar-expand-sm navbar-light bg-light">

	<a class="navbar-brand">Wine Cellar</a>

	<ul class="navbar-nav mr-auto">
		<li class="nav-item">
			<a class="nav-link" 
			[routerLink]="['/wines']" 
			routerLinkActive="router-link-active">Home</a>
		</li>

		<li class="nav-item">
			<a class="nav-link" 
			[routerLink]="['wines/add']"
			routerLinkActive="router-link-active"
			>Add wine</a>
		</li>
	</ul>

	<ul class="navbar-nav ml-auto">
		<li class="nav-item">
			<a class="nav-link">About us</a>
		</li>
	</ul>
</nav>

<!-- Stranica služi za navigaciju, prekopirana od prve do poslednje tačke -->
<!-- Naknadno dodati linkovi za rutiranje, testirani da rade -->
