<br>

{{ vinoForm.value | json }}
<br>
<br>
<br>

{{ vinoForm.status | json }}
<br>
<br>

<form [formGroup]="vinoForm" (submit)="onSubmit()">
	<div class="form-group row">
		<label for="name" class="col-2 col-form-label">Name</label>
		<div class="col-10">
			<input class="form-control" type="text" id="name" placeholder="Name" name="name"
			formControlName="ime">
            <!-- <small>Wine name is required</small> -->
            <!-- <small>Wine name is required, and must be at least 2 characters long</small> -->
		</div>
    </div>

	<div class="form-group row">
		<label for="year" class="col-2 col-form-label">Year</label>
		<div class="col-10">
			<input class="form-control" type="number" id="year" placeholder="Year" name="year" required
			formControlName="godina">
			 <!-- <small>This field is required</small> -->
		</div>
	</div>

	<div class="form-group row">
		<label for="year" class="col-2 col-form-label">Grapes</label>
		<div class="col-10">
			<input class="form-control" type="text" id="grapes" placeholder="Grapes" name="grapes" required
			formControlName="sorta">
			 <!-- <small>This field is required</small> -->
		</div>
	</div>

	<div class="form-group row">
		<label for="country" class="col-2 col-form-label">Country</label>
		<div class="col-10">
			<input class="form-control" type="text" id="country" placeholder="Country" name="country" required
			formControlName="zemlja">
			 <!-- <small>This field is required</small> -->
		</div>
	</div>

	<div class="form-group row">
		<label for="region" class="col-2 col-form-label">Region</label>
		<div class="col-10">
			<input class="form-control" type="text" id="region" placeholder="Region"  name="region" required
			formControlName="region">
			 <small class="text-danger" *ngIf="!hasNumUpLow(vinoForm.controls.region.value)">This field is required</small>
		</div>
	</div>

	<div class="form-group row">
		<label for="description" class="col-2 col-form-label">Description</label>
		<div class="col-10">
			<textarea class="form-control" rows="3" id="description" placeholder="Description" name="description" required
			formControlName="opis"></textarea>
			 <!-- <small>This field is required</small> -->
		</div>
	</div>

	<div class="form-group row float-right">
		<div class="col-12">
			<button class="btn btn-primary " type="submit"
			[disabled]="vinoForm.invalid">Submit</button>
		</div>
	</div>

	<!-- "form>(.form-group.row>(label.col2.col-form-label[for="name"]{Name}+(.col-10>input.form-control[type="text"][id="name"][name="name"][placeholder="Name"]+small{Notification about name})))*6+.form-group.row.float-right>.col-12>button.btn.btn-primary[type="submit"]{Submit}" -->
<!-- Kad se sve spoji, ovaj iznad izraz zakomentarisan, generiše celu formu,
doduše sa istim imenima za kontrole i tekstom unutar njih, ali barem ubrzava proces kuckanja
Emmet abbreviations 4ever! -->