<h1><p>WineList Component</p></h1>

<div class="row">
    <div class="col"><wcellar-search-form></wcellar-search-form></div>
</div>
<div class="row">
    <div class="col"><wcellar-table [Vina]="ListaVina"></wcellar-table></div>
</div>

<div class="row">
    <div class="col">
        <wcellar-pagination
        
        [primljenBrojElemenataPoStranici] = "brojElemenataPoStranici"
        [primljenUkupanBrojElemenata]="poslatLimit"
        (javljenaStrana)="izmeniStranu($event)"
        ></wcellar-pagination>
    </div>
</div>