<img src="../../../assets/images/wine.jpg" class="img-fluid rounded">

<!-- <img src="../assets/images/wine.jpg" class="img-fluid rounded"> -->
<!-- Čas2 zadatak4...U datom materijalu je pogrešna img src putanja do slike, i onda kada se prekopira u projekat -->
<!-- pokazuje na putanju gde nema ničega -->
<!-- U rešenjima za čas2 je putanja ispravna. Nije Bog zna šta, ali siguran sam da bi značilo -->
<!-- da ljudi ne gube vreme vijajući putanju ili misleći da kod njih nešto ne valja  -->
<!-- Meni lično nije napravilo problem, ali dolaze ljudi sa svih strana. Moje je da predložim, odluka već... -->
<!-- Komentari se nastavljaju na sledećoj komponenti,navbar -->